<div class="form row">
  <div class="small-6 columns">
    <form action="/" method="get">
      Artist:<br>
      <input type="text" name="artist"><br>
      Album:<br>
      <input type="text" name="album">

      <br> <button class="button">Submit</button>
    </form>
  </div>
</div>

<%= @album_rating %>

<%= @price_data %>
